@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root {
  --blue-default: #4361EE;
  --body-text: #4F5863;
  --heading: #1A2630;
  --white: #FFFFFF;
  --dark-midnight-blue: #1A2630;
  --light-gray: #F5F5F5;
  --sky-blue: #E9F4FF;
  --sapphire-blue: #4361EE;
  --transparent-black: #000000B2;
  --light-silver: #D9D9D9;
  --pale-lavender: #EDEFF9;
  --steel-blue: #9AA5B3;
  --silver-blue: #E2E7ED;
  --baby-blue: #F4F6FE;
  --powder-blue: #B4D5F6;
  --light-periwinkle: #DAE1FC;
  --black: #000000;
  --very-dark-blue: #03071B;
  --slate-gray: #7B7C82;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
}

.material-icons.md-36 {
  font-size: 36px;
}

.content {
  text-align: center;
  padding: 0 20px 0;
}

/* MAIN ASSETS */

button {
  display: flex;
  align-items: center;
  color: var(--white);
  background: var(--blue-default);
  border: none;
  padding: 16px 34px;
  border-radius: 8px;
  gap: 6px;
  text-align: center;
  font-size: 18px;
}

section,
.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px;
}

header img {
  height: 60px;
  padding: 5px;
}

header i {
  align-self: center;
}

/* HERO SECTION  */

section.hero {
  background-color: var(--sky-blue);
  position: relative;
  margin-bottom: 70px;
}

h1.heading {
  padding: 40px 20px 20px;
}

button:hover,
i:hover {
  cursor: pointer;
}

div.woman_dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
}

.hero img.woman {
  position: relative;
  width: 80vw;
  border-radius: 15px;
  transform: translateY(22px);
}

.hero img.dots {
  /* TODO: Utiliser grid pour l'image de la femme avec les dots ?? */
  position: absolute;
  width: 30vw;
  bottom: 48vw;
  right: 65vw
}

/* IDENTITY & PITCH SECTIONS */

.indentity>h2 {
  padding: 30px 0;
}

.team_blue_form {
  margin: 30px 20px;
}

.commercial_pitch {
  gap: 16px;
  margin-bottom: 70px;
}

/* SERVICES SECTION */

section.service {
  background-color: var(--sky-blue);
}

.service>h2 {
  padding: 40px 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 20px;
}

.illustrations {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  text-align: center;
  color: white;
}

.gallery img {
  background: var(--transparent-black);
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.01;
  border-radius: 10px;
  filter: brightness(0.5);
}

.illustrations .informations-card {
  position: absolute;
  top: 50%;
}

.service button {
  margin: 40px 0;
}

/* CLIENT STORIES SECTION */

section.client-stories {
  margin-top: 70px;
}

.stories-container {
  background: var(--baby-blue);
  padding: 30px 20px;
  margin: 40px 20px 30px;
  border-radius: 15px;
}

.stories-container svg {
  margin-top: 40px;
  margin-bottom: 20px;
}

p.testimonials {
  text-align: center;
  color: var(--body-text);
  font-size: 18px;
  line-height: 150%;
}

.slider {
  margin-bottom: 70px;
}

/* CONTACT SECTION */

.contact-content {
  background: var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 30px 40px;
  margin: 0 20px;
  row-gap: 20px;
  background: var(--white);
  border-radius: 15px;
  transform: translateY(50px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

form>input {
  border: 1px solid var(--silver-blue);
  border-radius: 6px;
  min-height: 48px;
}

form>button {
  width: 40vw;
  margin-top: 10px;
}

/* BLOG SECTION */

/* FOOTER SECTION */